*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container{
  display: flex;
  width:100vw;
  height:100vh;
  flex-direction: column;
  gap:2vh;
  padding-top:5vh;
  padding-left: 3vw;
}

.container input{
  width:90vw;
  border:2px solid black;
  padding-left: 1vw;
  height:6vh;
  border-radius:0.2rem;
}

.container button{
  width:6vw;
  height:5vh;
  background-color: black;
  color:white;
  border:none;
  border-radius: 0.2rem;
}